set_location count_RNO[0] 1 9 0 # SB_LUT4 (LogicCell: count[0]_LC_0)
set_location count[0] 1 9 0 # SB_DFF (LogicCell: count[0]_LC_0)
set_location count_cry_c[0] 1 9 0 # SB_CARRY (LogicCell: count[0]_LC_0)
set_location count_RNO[1] 1 9 1 # SB_LUT4 (LogicCell: count[1]_LC_1)
set_location count[1] 1 9 1 # SB_DFF (LogicCell: count[1]_LC_1)
set_location count_cry_c[1] 1 9 1 # SB_CARRY (LogicCell: count[1]_LC_1)
set_location count_RNO[10] 1 10 2 # SB_LUT4 (LogicCell: count[10]_LC_2)
set_location count[10] 1 10 2 # SB_DFF (LogicCell: count[10]_LC_2)
set_location count_cry_c[10] 1 10 2 # SB_CARRY (LogicCell: count[10]_LC_2)
set_location count_RNO[11] 1 10 3 # SB_LUT4 (LogicCell: count[11]_LC_3)
set_location count[11] 1 10 3 # SB_DFF (LogicCell: count[11]_LC_3)
set_location count_cry_c[11] 1 10 3 # SB_CARRY (LogicCell: count[11]_LC_3)
set_location count_RNO[12] 1 10 4 # SB_LUT4 (LogicCell: count[12]_LC_4)
set_location count[12] 1 10 4 # SB_DFF (LogicCell: count[12]_LC_4)
set_location count_cry_c[12] 1 10 4 # SB_CARRY (LogicCell: count[12]_LC_4)
set_location count_RNO[13] 1 10 5 # SB_LUT4 (LogicCell: count[13]_LC_5)
set_location count[13] 1 10 5 # SB_DFF (LogicCell: count[13]_LC_5)
set_location count_cry_c[13] 1 10 5 # SB_CARRY (LogicCell: count[13]_LC_5)
set_location count_RNO[14] 1 10 6 # SB_LUT4 (LogicCell: count[14]_LC_6)
set_location count[14] 1 10 6 # SB_DFF (LogicCell: count[14]_LC_6)
set_location count_cry_c[14] 1 10 6 # SB_CARRY (LogicCell: count[14]_LC_6)
set_location count_RNO[15] 1 10 7 # SB_LUT4 (LogicCell: count[15]_LC_7)
set_location count[15] 1 10 7 # SB_DFF (LogicCell: count[15]_LC_7)
set_location count_cry_c[15] 1 10 7 # SB_CARRY (LogicCell: count[15]_LC_7)
set_location count_RNO[16] 1 11 0 # SB_LUT4 (LogicCell: count[16]_LC_8)
set_location count[16] 1 11 0 # SB_DFF (LogicCell: count[16]_LC_8)
set_location count_cry_c[16] 1 11 0 # SB_CARRY (LogicCell: count[16]_LC_8)
set_location count_RNO[17] 1 11 1 # SB_LUT4 (LogicCell: count[17]_LC_9)
set_location count[17] 1 11 1 # SB_DFF (LogicCell: count[17]_LC_9)
set_location count_cry_c[17] 1 11 1 # SB_CARRY (LogicCell: count[17]_LC_9)
set_location count_RNO[18] 1 11 2 # SB_LUT4 (LogicCell: count[18]_LC_10)
set_location count[18] 1 11 2 # SB_DFF (LogicCell: count[18]_LC_10)
set_location count_cry_c[18] 1 11 2 # SB_CARRY (LogicCell: count[18]_LC_10)
set_location count_RNO[19] 1 11 3 # SB_LUT4 (LogicCell: count[19]_LC_11)
set_location count[19] 1 11 3 # SB_DFF (LogicCell: count[19]_LC_11)
set_location count_cry_c[19] 1 11 3 # SB_CARRY (LogicCell: count[19]_LC_11)
set_location count_RNO[2] 1 9 2 # SB_LUT4 (LogicCell: count[2]_LC_12)
set_location count[2] 1 9 2 # SB_DFF (LogicCell: count[2]_LC_12)
set_location count_cry_c[2] 1 9 2 # SB_CARRY (LogicCell: count[2]_LC_12)
set_location count_RNO[20] 1 11 4 # SB_LUT4 (LogicCell: count[20]_LC_13)
set_location count[20] 1 11 4 # SB_DFF (LogicCell: count[20]_LC_13)
set_location count_cry_c[20] 1 11 4 # SB_CARRY (LogicCell: count[20]_LC_13)
set_location count_RNO[21] 1 11 5 # SB_LUT4 (LogicCell: count[21]_LC_14)
set_location count[21] 1 11 5 # SB_DFF (LogicCell: count[21]_LC_14)
set_location count_RNO[3] 1 9 3 # SB_LUT4 (LogicCell: count[3]_LC_15)
set_location count[3] 1 9 3 # SB_DFF (LogicCell: count[3]_LC_15)
set_location count_cry_c[3] 1 9 3 # SB_CARRY (LogicCell: count[3]_LC_15)
set_location count_RNO[4] 1 9 4 # SB_LUT4 (LogicCell: count[4]_LC_16)
set_location count[4] 1 9 4 # SB_DFF (LogicCell: count[4]_LC_16)
set_location count_cry_c[4] 1 9 4 # SB_CARRY (LogicCell: count[4]_LC_16)
set_location count_RNO[5] 1 9 5 # SB_LUT4 (LogicCell: count[5]_LC_17)
set_location count[5] 1 9 5 # SB_DFF (LogicCell: count[5]_LC_17)
set_location count_cry_c[5] 1 9 5 # SB_CARRY (LogicCell: count[5]_LC_17)
set_location count_RNO[6] 1 9 6 # SB_LUT4 (LogicCell: count[6]_LC_18)
set_location count[6] 1 9 6 # SB_DFF (LogicCell: count[6]_LC_18)
set_location count_cry_c[6] 1 9 6 # SB_CARRY (LogicCell: count[6]_LC_18)
set_location count_RNO[7] 1 9 7 # SB_LUT4 (LogicCell: count[7]_LC_19)
set_location count[7] 1 9 7 # SB_DFF (LogicCell: count[7]_LC_19)
set_location count_cry_c[7] 1 9 7 # SB_CARRY (LogicCell: count[7]_LC_19)
set_location count_RNO[8] 1 10 0 # SB_LUT4 (LogicCell: count[8]_LC_20)
set_location count[8] 1 10 0 # SB_DFF (LogicCell: count[8]_LC_20)
set_location count_cry_c[8] 1 10 0 # SB_CARRY (LogicCell: count[8]_LC_20)
set_location count_RNO[9] 1 10 1 # SB_LUT4 (LogicCell: count[9]_LC_21)
set_location count[9] 1 10 1 # SB_DFF (LogicCell: count[9]_LC_21)
set_location count_cry_c[9] 1 10 1 # SB_CARRY (LogicCell: count[9]_LC_21)
set_location GND -1 -1 -1 # GND
set_io clk_in_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_io clk_out_obuf 0 12 1 # ICE_IO
