# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Apr 3 2025 14:34:15

# Family & Device:    iCE40HX1K

# Package:            TQ144

# ##############################################################################

###IOSet List 2
set_io clk_in 21
set_io clk_out 45

