# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Apr 2 2025 23:03:37

# Family & Device:    iCE40HX1K

# Package:            TQ144

# ##############################################################################

###IOSet List 7
set_io W 99
set_io Y 98
set_io A 45
set_io B 44
set_io V 97
set_io X 96
set_io Z 95
